body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u2295 {
  position:absolute;
  left:50px;
  top:82px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u2296 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
}
#u2297 {
  position:absolute;
  left:50px;
  top:37px;
  width:145px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:64px;
}
#u2299 {
  position:absolute;
  left:50px;
  top:117px;
  width:1289px;
  height:64px;
  font-size:18px;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  word-wrap:break-word;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:564px;
}
#u2301 {
  position:absolute;
  left:155px;
  top:245px;
  width:844px;
  height:564px;
}
#u2302 {
  position:absolute;
  left:2px;
  top:274px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:36px;
}
#u2303 {
  position:absolute;
  left:50px;
  top:199px;
  width:962px;
  height:36px;
  font-size:18px;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:37px;
}
#u2305 {
  position:absolute;
  left:50px;
  top:836px;
  width:1140px;
  height:37px;
  font-size:18px;
}
#u2306 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  word-wrap:break-word;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:622px;
}
#u2307 {
  position:absolute;
  left:155px;
  top:883px;
  width:844px;
  height:622px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:303px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:463px;
}
#u2309 {
  position:absolute;
  left:155px;
  top:1610px;
  width:844px;
  height:463px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:224px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:54px;
}
#u2311 {
  position:absolute;
  left:50px;
  top:1535px;
  width:1140px;
  height:54px;
  font-size:18px;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  word-wrap:break-word;
}
