body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11853 {
  position:absolute;
  left:35px;
  top:17px;
  width:73px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11854 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11855 {
  position:absolute;
  left:35px;
  top:1074px;
  width:109px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11856 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u11857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:859px;
}
#u11857 {
  position:absolute;
  left:66px;
  top:1135px;
  width:1189px;
  height:859px;
}
#u11858 {
  position:absolute;
  left:2px;
  top:422px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1393px;
  height:952px;
}
#u11859 {
  position:absolute;
  left:35px;
  top:52px;
  width:1393px;
  height:952px;
}
#u11860 {
  position:absolute;
  left:2px;
  top:468px;
  width:1389px;
  visibility:hidden;
  word-wrap:break-word;
}
