body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
  background:inherit;
  background-color:rgba(92, 110, 127, 0.717647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u287 {
  position:absolute;
  left:0px;
  top:80px;
  width:1920px;
  height:49px;
  color:#1E1E1E;
}
#u288 {
  position:absolute;
  left:2px;
  top:16px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.517647058823529);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u289 {
  position:absolute;
  left:333px;
  top:89px;
  width:153px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u289_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u289.mouseOver {
}
#u289_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u289.selected {
}
#u290 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.517647058823529);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u291 {
  position:absolute;
  left:498px;
  top:89px;
  width:206px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u291_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u291.mouseOver {
}
#u291_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u291.selected {
}
#u292 {
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.517647058823529);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u293 {
  position:absolute;
  left:167px;
  top:89px;
  width:153px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u293_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u293.mouseOver {
}
#u293_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u293.selected {
}
#u294 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u295 {
  position:absolute;
  left:8px;
  top:89px;
  width:140px;
  height:40px;
}
#u295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background-color:rgba(51, 204, 255, 0.517647058823529);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u295_input:disabled {
  color:grayText;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(30, 57, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
}
#u298 {
  position:absolute;
  left:2px;
  top:32px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u299 {
  position:absolute;
  left:20px;
  top:22px;
  width:449px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u301 {
  position:absolute;
  left:523px;
  top:30px;
  width:319px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u303 {
  position:absolute;
  left:882px;
  top:30px;
  width:126px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u305 {
  position:absolute;
  left:0px;
  top:153px;
  width:1920px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u306 {
  position:absolute;
  left:2px;
  top:5px;
  width:1916px;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u307 {
  position:absolute;
  left:117px;
  top:200px;
  width:818px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u309 {
  position:absolute;
  left:117px;
  top:238px;
  width:963px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u311 {
  position:absolute;
  left:125px;
  top:776px;
  width:810px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:172px;
}
#u313 {
  position:absolute;
  left:147px;
  top:308px;
  width:643px;
  height:172px;
}
#u314 {
  position:absolute;
  left:2px;
  top:78px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:40px;
}
#u315 {
  position:absolute;
  left:125px;
  top:511px;
  width:818px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:202px;
}
#u317 {
  position:absolute;
  left:170px;
  top:561px;
  width:457px;
  height:202px;
}
#u318 {
  position:absolute;
  left:2px;
  top:93px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:168px;
}
#u319 {
  position:absolute;
  left:163px;
  top:854px;
  width:539px;
  height:168px;
}
#u320 {
  position:absolute;
  left:2px;
  top:76px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u321 {
  position:absolute;
  left:125px;
  top:1029px;
  width:810px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u322 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:306px;
}
#u323 {
  position:absolute;
  left:197px;
  top:1099px;
  width:587px;
  height:306px;
}
#u324 {
  position:absolute;
  left:2px;
  top:145px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:72px;
}
#u325 {
  position:absolute;
  left:134px;
  top:1415px;
  width:810px;
  height:72px;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
}
#u326 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u327 {
  position:absolute;
  left:0px;
  top:2170px;
  width:1920px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u328 {
  position:absolute;
  left:2px;
  top:5px;
  width:1916px;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u329 {
  position:absolute;
  left:127px;
  top:2224px;
  width:601px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:265px;
}
#u331 {
  position:absolute;
  left:190px;
  top:1497px;
  width:745px;
  height:265px;
}
#u332 {
  position:absolute;
  left:2px;
  top:124px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:364px;
}
#u333 {
  position:absolute;
  left:190px;
  top:1772px;
  width:745px;
  height:364px;
}
#u334 {
  position:absolute;
  left:2px;
  top:174px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
