body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2216 {
  position:absolute;
  left:52px;
  top:19px;
  width:127px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2218 {
  position:absolute;
  left:52px;
  top:59px;
  width:956px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  white-space:nowrap;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2220 {
  position:absolute;
  left:52px;
  top:98px;
  width:340px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2222 {
  position:absolute;
  left:52px;
  top:134px;
  width:605px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2223 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2224 {
  position:absolute;
  left:52px;
  top:175px;
  width:605px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2225 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  word-wrap:break-word;
}
#u2226 {
  position:absolute;
  left:58px;
  top:228px;
  width:1147px;
  height:574px;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
}
#u2228 {
  position:absolute;
  left:2px;
  top:7px;
  width:257px;
  word-wrap:break-word;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2229 {
  position:absolute;
  left:261px;
  top:0px;
  width:302px;
  height:30px;
}
#u2230 {
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:30px;
}
#u2231 {
  position:absolute;
  left:563px;
  top:0px;
  width:579px;
  height:30px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:7px;
  width:575px;
  word-wrap:break-word;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:539px;
}
#u2233 {
  position:absolute;
  left:0px;
  top:30px;
  width:261px;
  height:539px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:262px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:539px;
}
#u2235 {
  position:absolute;
  left:261px;
  top:30px;
  width:302px;
  height:539px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:262px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:539px;
}
#u2237 {
  position:absolute;
  left:563px;
  top:30px;
  width:579px;
  height:539px;
}
#u2238 {
  position:absolute;
  left:2px;
  top:262px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2239 {
  position:absolute;
  left:111px;
  top:368px;
  width:121px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2241 {
  position:absolute;
  left:889px;
  top:303px;
  width:121px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u2243 {
  position:absolute;
  left:889px;
  top:402px;
  width:121px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2244 {
  position:absolute;
  left:2px;
  top:24px;
  width:117px;
  word-wrap:break-word;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2245 {
  position:absolute;
  left:879px;
  top:590px;
  width:141px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u2247 {
  position:absolute;
  left:950px;
  top:340px;
  width:0px;
  height:0px;
}
#u2247_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u2248 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249 {
  position:absolute;
  left:950px;
  top:470px;
  width:0px;
  height:0px;
}
#u2249_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u2249_seg1 {
  position:absolute;
  left:-10px;
  top:105px;
  width:20px;
  height:20px;
}
#u2250 {
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
}
#u2251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2251 {
  position:absolute;
  left:657px;
  top:417px;
  width:134px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2253 {
  position:absolute;
  left:648px;
  top:528px;
  width:151px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2255 {
  position:absolute;
  left:118px;
  top:611px;
  width:121px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2257 {
  position:absolute;
  left:889px;
  top:436px;
  width:0px;
  height:0px;
}
#u2257_seg0 {
  position:absolute;
  left:-98px;
  top:-4px;
  width:102px;
  height:8px;
}
#u2257_seg1 {
  position:absolute;
  left:-103px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2258 {
  position:absolute;
  left:-99px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u2259 {
  position:absolute;
  left:724px;
  top:454px;
  width:0px;
  height:0px;
}
#u2259_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u2259_seg1 {
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u2260 {
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2261 {
  position:absolute;
  left:405px;
  top:528px;
  width:153px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2262 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u2263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2263 {
  position:absolute;
  left:402px;
  top:368px;
  width:153px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u2265 {
  position:absolute;
  left:232px;
  top:387px;
  width:0px;
  height:0px;
}
#u2265_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:174px;
  height:8px;
}
#u2266 {
  position:absolute;
  left:35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267 {
  position:absolute;
  left:555px;
  top:387px;
  width:0px;
  height:0px;
}
#u2267_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u2267_seg1 {
  position:absolute;
  left:44px;
  top:-69px;
  width:8px;
  height:73px;
}
#u2267_seg2 {
  position:absolute;
  left:44px;
  top:-69px;
  width:290px;
  height:8px;
}
#u2268 {
  position:absolute;
  left:84px;
  top:-73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2269 {
  position:absolute;
  left:118px;
  top:528px;
  width:121px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2271 {
  position:absolute;
  left:648px;
  top:547px;
  width:0px;
  height:0px;
}
#u2271_seg0 {
  position:absolute;
  left:-90px;
  top:-4px;
  width:94px;
  height:8px;
}
#u2272 {
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273 {
  position:absolute;
  left:405px;
  top:547px;
  width:0px;
  height:0px;
}
#u2273_seg0 {
  position:absolute;
  left:-166px;
  top:-4px;
  width:170px;
  height:8px;
}
#u2274 {
  position:absolute;
  left:-133px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275 {
  position:absolute;
  left:179px;
  top:565px;
  width:0px;
  height:0px;
}
#u2275_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u2275_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u2276 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277 {
  position:absolute;
  left:239px;
  top:630px;
  width:0px;
  height:0px;
}
#u2277_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u2277_seg1 {
  position:absolute;
  left:118px;
  top:-247px;
  width:8px;
  height:251px;
}
#u2277_seg2 {
  position:absolute;
  left:118px;
  top:-247px;
  width:45px;
  height:8px;
}
#u2278 {
  position:absolute;
  left:72px;
  top:-89px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2279 {
  position:absolute;
  left:889px;
  top:740px;
  width:121px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2280 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2281 {
  position:absolute;
  left:111px;
  top:275px;
  width:121px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2283 {
  position:absolute;
  left:950px;
  top:627px;
  width:0px;
  height:0px;
}
#u2283_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:117px;
}
#u2283_seg1 {
  position:absolute;
  left:-10px;
  top:98px;
  width:20px;
  height:20px;
}
#u2284 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285 {
  position:absolute;
  left:172px;
  top:312px;
  width:0px;
  height:0px;
}
#u2285_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u2285_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u2286 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2287 {
  position:absolute;
  left:407px;
  top:692px;
  width:153px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u2289 {
  position:absolute;
  left:879px;
  top:609px;
  width:0px;
  height:0px;
}
#u2289_seg0 {
  position:absolute;
  left:-66px;
  top:-4px;
  width:66px;
  height:8px;
}
#u2289_seg1 {
  position:absolute;
  left:-66px;
  top:-4px;
  width:8px;
  height:110px;
}
#u2289_seg2 {
  position:absolute;
  left:-319px;
  top:98px;
  width:261px;
  height:8px;
}
#u2290 {
  position:absolute;
  left:-158px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291 {
  position:absolute;
  left:407px;
  top:711px;
  width:0px;
  height:0px;
}
#u2291_seg0 {
  position:absolute;
  left:-168px;
  top:-4px;
  width:172px;
  height:8px;
}
#u2292 {
  position:absolute;
  left:-134px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2293 {
  position:absolute;
  left:118px;
  top:692px;
  width:121px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
